body{
background-color: #6b6b6bfb
    
}

form{

background-color: rgb(0, 0, 0);

padding: 20px;
margin: 50px auto;

border: 10x solid #fa0000;
border-radius: 10px;

}

label{

font-weigth: bold;

}

input{

width: 1000%;
padding: 10px;
margin-button: 15px;

}

button{

padding: 10px 20px;
cursor: pointer;





}