body{
background-color: #000000fb
    
}

form{

background-color: rgb(255, 255, 255);

padding: 20px;
margin: 50px auto;

border: 10x solid #504d4d;
border-radius: 10px;

}

label{

font-weigth: bold;

}

input{

width: 1000%;
padding: 10px;
margin-button: 15px;

}

button{

padding: 10px 20px;
cursor: pointer;





}